==
<style>
#global-toobar{
  width: 50px;
  position: fixed;
  bottom: 180px;
  z-index: 9;
  right: 0;
  background: #d2d2d2;
  text-align: center;
}

#global-toobar p{
  height: 50px;
}

#global-toobar a{
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: left;
  line-height: 50px;
  left: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#global-toobar a span{
  display: inline-block;
  color: #fff;
  vertical-align: top;
}


#global-toobar .goback a:hover{
  background: #4696ef;
}


#global-toobar i{
  font-size: 24px;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#global-toobar .goback{
  background: #bdbcbc;
}

</style>

<div id="global-toobar">
    <p class="goback" style="display: block;">
        <a href="javascript:;">
            <i class="icon">顶</i>
        </a>
    </p>
</div>