[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="widget-wrap">
    <h3 class="widget-title">分类</h3>
    <div class="widget">
     <ul class="category-list">
           {% for category in categories %}
         <li class="category-list-item">
             <a class="category-list-link" href="/categories/{{category.slug}}.html">{{ category.name}}</a>
             <span class="category-list-count">{{category.posts.count()}}</span>
         </li>
       {% endfor %}
    </ul>
    </div>
  </div>